#!/bin/zsh

if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH
{{ if stat (printf "%s/.local/bin/nvim" .chezmoi.homeDir) -}}
export EDITOR=$HOME/.local/bin/nvim
{{ else if lookPath "nvim" -}}
export EDITOR=nvim
{{ else -}}
export EDITOR=vim
{{ end -}}
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Changing directories
setopt auto_cd
setopt auto_pushd
setopt pushd_ignore_dups

eval "$(starship init zsh)"
